@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.IdentityModel.Tokens
@model BookingsModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <!-- Title -->
    <div class="col-12">
        <h1>@Model.BookingTimeFrameString()</h1>
    </div>
    <!-- Bookings Filter Group -->
    <div class="col-auto">
        <div class="btn-toolbar mb-3 gap-2" role="toolbar">
            <div class="btn-group">
                <!-- Show bookings today -->
                @Html.ActionLink("Today", "Index", new BookingsModel(), new { @class = @Model.TimeFrame == BookingsModel.BookingTimeFrame.Today ? "btn btn-primary active" : "btn btn-primary" })
                <!-- Show bookings this week -->
                @Html.ActionLink("Week", "Index", new BookingsModel() { TimeFrame = BookingsModel.BookingTimeFrame.Week }, new { @class = @Model.TimeFrame == BookingsModel.BookingTimeFrame.Week ? "btn btn-primary active" : "btn btn-primary" })
            </div>
            <div class="input-group">
                <!-- Show bookings on specific date -->
                <!--  TODO Use date from input -->
                @Html.ActionLink("Specific Date", "Index", new BookingsModel() { TimeFrame = BookingsModel.BookingTimeFrame.Specific, Date = new DateOnly(2001, 1, 1) }, new { @class = @Model.TimeFrame == BookingsModel.BookingTimeFrame.Specific ? "btn btn-primary active" : "btn btn-primary" })
                <input type="date" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Booking ID</th>
                <th scope="col">Dato</th>
                <th scope="col">Start tid</th>
                <th scope="col">Type</th>
                <th scope="col">Antal Deltagere</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var booking in @Model.Bookings!)
            {
                <tr>
                    <th>@booking.BookingId</th>
                    <th>@booking.Start.ToShortDateString()</th>
                    <th>@booking.Start.ToShortTimeString()</th>
                    <th>Type</th>
                    <th>Count</th>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>