@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using Microsoft.IdentityModel.Tokens
@model BookingsModel
@{
    
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-12">
        <h1>@Model.BookingTimeFrameString()</h1>
    </div>
    <div class="col-auto">
        <div class="btn-toolbar mb-3 gap-2" role="toolbar">
            <div class="btn-group">
                @Html.ActionLink("Today", "Index", new BookingsModel(), new { @class = @Model.TimeFrame == BookingsModel.BookingTimeFrame.Today ? "btn btn-primary active" : "btn btn-primary" })
                @Html.ActionLink("WEEK", "Index", new BookingsModel() { TimeFrame = BookingsModel.BookingTimeFrame.Week }, new { @class = @Model.TimeFrame == BookingsModel.BookingTimeFrame.Week ? "btn btn-primary active" : "btn btn-primary" })
            </div>
            <div class="input-group">
                <!--  TODO Use date from input -->
                <div class="input-group-text btn-primary" id="btnGroupAddon">Date</div>
                @Html.ActionLink("Specific Date", "Index", new BookingsModel() { TimeFrame = BookingsModel.BookingTimeFrame.Specific, Date = new DateOnly(2001, 1, 1) }, new { @class = @Model.TimeFrame == BookingsModel.BookingTimeFrame.Specific ? "btn btn-primary active" : "btn btn-primary" })
                <input type="date" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-12">
        @if (@Model.Bookings.IsNullOrEmpty())
        {
            <p>No Bookings found</p>
        }
        else
        {
            @foreach (var booking in @Model.Bookings!)
            {
                <p>@booking.Start</p>
                <p>@booking.Customer</p>
            }
        }
    </div>
</div>